header {
  background-color: #00679d;
  width: 20%;
  margin-left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

h1 {
  color: white;
}
